$black: #101010;
$blackLight: #2A2828;
$background: #343434;
$blue: #154ED3;
$white: #fff;
$gray: #707070;
$darkGray: #212121;
$darkBlack: #0F0F0F;
$orange: #FF9A01;

/////////////

$sidebar-size: 30rem;
$sidebar-size1230: 22.9rem;

////////////

$computer: 1170px;
$tablet-bp: 991px;
$tabletMin-bp: 800px;
$mobile-bp: 575px;